/* primary */
$pink: hsl(322, 100%, 66%);
/* neutral */
$veryDarkCyan: hsl(192, 100%, 9%);
$paleBlue: #f6fbff;
$veryPaleBlue: hsl(207, 100%, 98%);
$grey: #919699;
$white: #fff;
/* padding */
$padMobile: 25px;
$padDesktop: 100px;