/* primary */
/* neutral */
/* padding */
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #00252e;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #00252e;
}

.bg__bg-top {
  width: 100%;
  top: 1px;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
}

.bg__bg-bottom {
  width: 100%;
  bottom: 1px;
  -webkit-transform: translateY(98%);
          transform: translateY(98%);
}

.desktop {
  display: none;
}

button {
  -webkit-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.18);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 25px;
  margin-bottom: 5rem;
}

header img {
  height: 1.4rem;
}

header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  border: 2px solid #ff52bf;
  height: 2.2rem;
  border-radius: 2.2rem;
  padding: 0 1.2rem;
  color: #ff52bf;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home {
  padding: 0 25px;
}

.home h1 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.home p {
  margin-bottom: 2.5rem;
}

.home button {
  border: none;
  background: #ff52bf;
  color: #fff;
  height: 2.8rem;
  border-radius: 2.8rem;
  padding: 0 2rem;
  font-weight: 600;
  margin-bottom: 7rem;
}

.home img {
  width: 100%;
  margin-bottom: 6rem;
}

.data .data__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7rem;
}

.data .data__unit h2 {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  position: relative;
}

.data .data__unit h2 img {
  width: 2.2rem;
  position: absolute;
  top: -1.5rem;
}

.data .data__unit p {
  color: #919699;
  margin: 0;
}

.benefits {
  background: #f6fbff;
  margin-bottom: 10rem;
  position: relative;
}

.benefits .benefits__img {
  width: 100%;
  margin-bottom: 3rem;
}

.benefits h3 {
  padding: 0 25px;
}

.benefits p {
  padding: 0 25px;
}

.flowing-conversation {
  background: #fff;
  margin-bottom: 12rem;
}

.cta {
  padding: 0 25px;
}

.cta h2 {
  margin-bottom: 2.2rem;
}

.cta button {
  border: none;
  background: #ff52bf;
  color: #fff;
  height: 2.8rem;
  border-radius: 2.8rem;
  padding: 0 2rem;
  font-weight: 600;
  margin-bottom: 7rem;
  font-size: .9rem;
}

footer {
  position: relative;
  background: #00252e;
  color: #fff;
}

footer .newsletter {
  padding: 0 25px;
}

footer .newsletter h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: left;
}

footer .newsletter p {
  text-align: left;
}

footer .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .newsletter form input[type=text] {
  border-radius: 5px;
  height: 3rem;
  margin-bottom: 1rem;
}

footer .newsletter form button {
  width: 50%;
  margin-right: 0;
  margin-left: auto;
  border: none;
  background: #ff52bf;
  color: #fff;
  height: 3rem;
  border-radius: 5px;
  padding: 0 2rem;
  font-weight: 600;
  margin-bottom: 7rem;
}

footer .footer__content {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

footer .footer__content svg {
  margin-bottom: 1rem;
}

footer .footer__content p {
  margin-bottom: 2rem;
}

footer .footer__content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

footer .footer__content ul li {
  margin-bottom: 0.5rem;
}

footer .footer__content ul li i {
  margin-right: 1rem;
  font-size: 1.2rem;
  width: 1.5rem;
}

footer .footer__content .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

footer .footer__content .social-media .icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

footer .footer__content .social-media .icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .reverse-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
  header {
    padding: 3rem 100px;
    margin-bottom: 10rem;
  }
  header img {
    height: 2.2rem;
  }
  header button {
    border: 2px solid #ff52bf;
    height: 2.2rem;
    border-radius: 2.2rem;
    padding: 0 1.3rem;
  }
  .home {
    padding: 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .home p {
    margin: auto;
    width: 45%;
    margin-bottom: 2.5rem;
  }
  .home button {
    width: 20rem;
    height: 4rem;
    border-radius: 4rem;
    padding: 0 5rem;
    margin-bottom: 7rem;
  }
  .home img {
    margin: auto;
    width: 80%;
    margin-bottom: 6rem;
  }
  .data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 100px;
    margin-bottom: 13rem;
  }
  .data .data__unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .data .data__unit h2 {
    font-size: 5.5rem;
    margin: 0;
  }
  .data .data__unit h2 img {
    width: 2.5rem;
    top: -1.5rem;
  }
  .data .data__unit p {
    font-size: 1.5rem;
    margin: 0;
  }
  .benefits {
    margin-bottom: 13rem;
    text-align: left;
  }
  .benefits .benefits__img {
    width: 45%;
    margin-bottom: 0;
  }
  .benefits .benefits__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 100px;
  }
  .benefits .benefits__content {
    width: 45%;
  }
  .benefits h3 {
    padding: 0;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  .benefits p {
    padding: 0;
  }
  .cta {
    padding: 0 100px;
  }
  .cta h2 {
    margin-bottom: 2rem;
    font-size: 2.1rem;
  }
  .cta button {
    height: 4.3rem;
    border-radius: 4.3rem;
    padding: 0 5.5rem;
    margin-bottom: 18rem;
    font-size: 1.1rem;
  }
  footer .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .newsletter {
    padding: 0;
    width: 45%;
  }
  footer .newsletter h3 {
    font-size: 1.3rem;
  }
  footer .newsletter p {
    text-align: left;
    width: 60%;
  }
  footer .newsletter form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .newsletter form input[type=text] {
    border-radius: 5px;
    height: 3rem;
    margin-bottom: 1rem;
    width: 63%;
    margin-right: 7%;
  }
  footer .newsletter form button {
    width: 30%;
    min-width: 9rem;
    margin-right: 0;
    margin-left: auto;
    border: none;
    background: #ff52bf;
    color: #fff;
    height: 3rem;
    border-radius: 5px;
    padding: 0 2rem;
    font-weight: 600;
    margin-bottom: 7rem;
  }
  footer .footer__content {
    padding: 0;
    text-align: left;
    width: 27%;
  }
  footer .footer__content svg {
    margin-bottom: 1rem;
  }
  footer .footer__content p {
    margin-bottom: 2rem;
  }
  footer .footer__content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2.8rem;
  }
  footer .footer__content ul li {
    margin-bottom: 0.5rem;
  }
  footer .footer__content ul li i {
    margin-right: 1rem;
    font-size: 1.2rem;
    width: 1.5rem;
  }
  footer .footer__content .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
  }
  footer .footer__content .social-media .icon {
    font-size: 2rem;
    margin-right: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */